Django==5.2.1
django-jazzmin==3.0.1
django-allauth==0.57.0
gunicorn==23.0.0
asgiref==3.8.1
sqlparse==0.5.3
pytz==2024.2
tzdata==2024.2
PyJWT==2.10.1
python3-openid==3.2.0
requests==2.32.3
requests-oauthlib==2.0.0
certifi==2024.8.30
charset-normalizer==3.4.1
idna==3.10
urllib3==2.3.0
Pillow>=10.2.0
cffi==1.17.1
cryptography==44.0.3
defusedxml==0.7.1
oauthlib==3.2.2
packaging==25.0
pycparser==2.22
setuptools==65.5.0